/* * {
  box-sizing: border-box;
  border: 2px solid black;
} */
/* 
html * {
  background: rgba(255, 0, 0, 0.1);
  box-shadow: 0 0 0 1px blue;
} */

/* Reset some default styles */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #a9afc3;
  background-color: #000;
  line-height: 1.7;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar styles */

.header__logo img {
  /* font-size: 24px; */
  width: 6rem;
  height: 3rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #a9afc3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 10vh;
  /* background-color: #c1c1c1; */
}

.header__menu {
  display: flex;
}

[class^="navLink-"] {
  padding-left: 20px;
}

.header__btn {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    /*     justify-content: center; */
    background-color: #201d29;
  }

  .header__btn {
    display: flex;
    font-size: 30px;
    position: absolute;
    right: 10px;
    cursor: pointer;
  }

  .header__menu {
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top: 10vh;
    width: 100%;
    /*     gap: 20px; */
    justify-content: space-evenly;
    height: 90vh;
    background-color: #201d29;
    transition: all 0.5s ease;
  }
}

/* .hide {
  display: none;
} */

.slide {
  right: -100%;
}

.btn {
  border: 2px solid #a9afc3;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  background-color: black;
  color: #fff;
}
.btn:hover {
  border-color: #d6002f;
  color: #d6002f;
  cursor: pointer;
}

.name {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  color: #fff;
}

.job {
  margin: 0 0 1.5rem 0;
  font-size: 5rem;
  line-height: 1.2;
  color: #fff;
}
.location {
  color: #d6002f;
}

.hero {
  background-color: #000;
  height: auto;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 4rem;
}

.mobile-social li {
  list-style: none;
  color: #fff;
}

.social {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

.hero__presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wow {
  display: flex;
}
.mobile-social {
  align-self: flex-end;
}

.get__started .btn {
  margin-top: 3rem;
  padding: 1rem 2rem;
}

.description {
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wow {
    width: 100%;
  }
  .dev__image {
    width: 100%;
  }
}

/* About */
.about-container {
  background-color: #191c26;
  padding-top: 4rem;
}
.about {
  /* background-color: #191c26; */
  padding: 0 4rem;
  /* width: 50%; */
}

.title {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title p {
  color: #d6002f;
}

.about h3 {
  font-size: 5rem;
  color: #fff;
  margin: 0;
}

.about__description {
  display: flex;
  /* gap: 5rem; */
  /* background-color: #191c26; */
  padding: 0 4rem;
  margin-top: 4rem;
}

/* .image__container {
  width: 50%;
} */
.image__container img {
  height: 90%;
}

.personal__container {
  display: flex;
  gap: 5rem;
}

.info__salute {
  font-size: 4rem;
  color: #fff;
}

.info__title {
  font-size: 2.4rem;
  color: #fff;
  margin-top: 2rem;
}

/* .info__description {
  line-height: 1.5;
} */
.highlight {
  color: #fff;
  font-weight: 600;
}

.btn-accent {
  background-color: #d6002f;
  color: #fff;
  font-weight: 600;
  border-radius: 10px;
  padding: 1rem 3rem;
  cursor: pointer;
  margin-top: 3rem;
  border: 0;
  font-size: 2rem;
  letter-spacing: 1.5;
  white-space: nowrap;
}

.skill__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

/* skills and education */
.skill-section {
  width: 100%;
  /* height: 100vh; */
}

.skill-head {
  width: 100%;
  margin-bottom: 100px;
  display: grid;
  place-items: center;
  text-align: center;
}

.skills-main .skill-bar .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill-bar .bar {
  width: 100%;
  height: 10px;
  background-color: #676568a4;
  border-radius: 25px;
  margin-top: 5px;
  position: relative;
}
.skill-bar .bar span {
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #d6002f;
  border-radius: 25px;
}

.skill-bar .bar .html {
  width: 90%;
  animation: html 2s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
.skill-bar .bar .css {
  width: 85%;
  animation: css 2s;
}

@keyframes css {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

.skill-bar .bar .js {
  width: 50%;
  animation: js 2s;
}

@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

.skills-container {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  margin: 0 -5px;
}

.skills-main {
  width: 100%;
}

.skill-bar {
  margin-bottom: 3rem;
}

.school-info {
  margin-bottom: 3rem;
}

/* skills icon head */
.icon .bx {
  font-size: 30px;
  color: #d6002f;
}

.line {
  background-color: #676568a4;
  width: 100%;
  height: 1px;
}

.skillset {
  display: flex;
  align-items: center;
  gap: 20px;
  /* padding: 0 4rem; */
  margin-bottom: 3rem;
  width: 100%;
}

.skillset h3 {
  font-size: 30px;
}

.trial {
  width: 50%;
}

.edu-organizer {
  display: flex;
}

.degree {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .about__description {
    display: flex;
    flex-direction: column;
  }
  .personal__container {
    display: flex;
    flex-direction: column;
  }
  .image__container {
    width: 100%;
  }
  .image__container img {
    width: 100%;
  }
  .skills-container {
    display: flex;
    flex-direction: column;
  }
  .trial {
    width: 100%;
  }
}

/* service section */

.service-container {
  background-color: #111319;
  padding-top: 5rem;
}

/* .service__title {
  padding-top: 7rem;
} */

.underline {
  background-color: #d6002f;
  height: 1px;
  width: 100px;
}

.service__formula {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 4rem;
}

.card {
  background-color: #212532;
  padding: 2rem 3rem;
  border-radius: 20px;
  margin-bottom: 3rem;
  cursor: pointer;
  transition: box-shadow 0.4s;
}

.learn-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.learn-container p:hover {
  color: #d6002f;
}

.card p:hover {
  color: #d6002f;
}
/*  */
.card:hover {
  box-shadow: 0 0 20px #4c4d4c;
}

.card h3 {
  color: #fff;
  margin: 1.5rem 0;
}
.card__icon i {
  font-size: 60px;
}

.service__description {
  padding: 0 4rem;
}

.service__title {
  color: #d6002f;
  margin-bottom: 1rem;
}

.service__head {
  font-size: 4rem;
  color: #fff;
  line-height: 1.3;
  margin-bottom: 2rem;
}

.service_info {
  margin-bottom: 5rem;
}

/* .card-container {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  flex-wrap: wrap;
} */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 5rem 4rem;
}

.ui {
  color: #b285e3;
}

.web {
  color: #258e92;
}

.maintain {
  color: #909225;
}
.javas {
  color: #fbff21;
}

/* Portifolio */

.portfolio-container {
  background-color: #191c26;
  padding-top: 5rem;
}

.picture-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 6rem 4rem;
}
/* .picture {
  padding: 20px;
} */

.picture img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

@media screen and (max-width: 1024px) {
  .picture-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .picture-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .about__description {
    flex-direction: column;
  }
}

/* testimonia section */

.testimonial-container {
  background-color: #1b202b;
  padding-top: 5rem;
}

.media {
  display: flex;
  align-items: center;
}

.media img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 6rem;
}

.media-container {
  padding: 0 4rem;
}
/* Blogs section */
.blog-container {
  background-color: #111319;
  padding-top: 5rem;
}

.newscard-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 5rem 4rem;
}

.blogupdate-card img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

.blog-heading {
  color: #fff;
}
.blog-heading:hover {
  color: #d6002f;
}

@media screen and (max-width: 1024px) {
  .newscard-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .newscard-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* contact section */
.contact-container {
  background-color: #1d2029;
}

.single__address {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 2rem;
}

.contact-icons {
  font-size: 30px;
  color: #d6002f;
}

.address-container {
  padding: 0 4rem;
}

.form-stuffs {
  padding: 0 4rem;
}

/*  */
label {
  display: block;
}

input {
  border: 0;
  background-color: #1d2029;
  border-bottom: 2px solid #a9afc3;
  outline: 0;
  color: #a9afc3;
  padding: 2rem 0;
  width: 100%;
}

.form-group {
  margin-bottom: 2rem;
  width: 100%;
}

.form-row {
  display: flex;
  gap: 20px;
}

.contact-organizer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 4rem 0;
}

.final {
  background-color: #1d2029;
  padding: 1rem 3.5rem;
  font-size: 2rem;
  letter-spacing: 3px;
  margin-top: 1.5rem;
}

::placeholder {
  color: #a9afc3;
  font-size: 1.7rem;
}

.form-stuffs h3 {
  font-size: 2.5rem;
  color: #fff;
  margin-top: 1.5rem;
}

.contact-description {
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .contact-organizer {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-row {
    flex-direction: column;
  }
}

.footer {
  padding: 2rem 4rem;
}

.copyrights {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyrights i {
  font-size: 40px;
  color: #d6002f;
  fill: #fff;
}

.copyrights i:hover {
  cursor: pointer;
}

.carousel {
  display: flex;
  padding: 4rem 4rem;
}

.slider-icon {
  font-size: 40px;
}

.previous-icon {
  display: flex;
  align-items: center;
}

.next-icon {
  display: flex;
  align-items: center;
}

.karara {
  margin-top: 2.3rem;
}

.media__quote {
  position: relative;
}

.media__quote img {
  position: absolute;
  top: -8%;
  left: 3%;
  width: auto;
  height: 100px;
}

.carousel i:hover {
  color: #d6002f;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .carousel {
    flex-direction: column;
  }
  .media-container {
    flex-direction: column;
  }
  .media__image {
    display: none;
  }
  .previous-icon {
    display: none;
  }
  .next-icon {
    display: none;
  }
}

.karara {
  margin-left: 2rem;
}
.karara h3 {
  color: #fff;
}

/* styling of modals */

.modal_container {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background-color: #1d1d2b;
  padding: 20px 50px;
  /* margin: 0 4rem; */
  height: 70vh;
  width: 90%;
  text-align: center;
}

.hide {
  display: none;
}

/* portfolio adjustment */
.picture-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 6rem 4rem;
}

.picture {
  position: relative;
  overflow: hidden;
}

.picture img {
  max-width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.overlay p {
  color: white;
  text-align: center;
}

/* NavBar Scrolled */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  /* Add other styles as needed */
  z-index: 10;
}

.header.scrolled {
  background-color: #1d2029; /* Change this color as needed */
  /* Add other styles as needed */
}

/* form validation styles */

.err {
  color: red;
}

[class^="navLink-"] a:hover {
  color: #d6002f;
}
